headline {
  background-color: #f0f0f0;
  width: 100%;
  margin: 8px;
}

.dashboard-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.dashboard-content-left {
  width: 50%;
  border: 1px solid black;
  margin: 2px 12px;
}

.dashboard-content-right {
  width: 50%;
  border: 1px solid black;
  margin: 2px 12px;
}

.list-project-icon {
  width: 21px;
  min-height: 21px;
}

.list-project-icon2 {
  width: 15px;
  min-height: 15px;
}

.project-list-title {
  display: flex;
  justify-content: space-between;
}

.projects {
  margin-left: 4px;
  font-weight: 600;
}

.project-list-left {
  display: flex;
}

.project-list-right {
  display: flex;
}

.icon-collapsed {
  margin: 0 3px;
  background-color: white;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #adadad;
  border-radius: 100%;
}

.project-list-link {
  padding: 5px;
  border: 2px solid #adadad;
  background-color: white;
  display: flex;

}

.project-img {
  width: 41px;
  min-height: 41px;
}

.project-content {
  display: flex;
  flex-direction: row;
}

.project-list-link:hover {
  background-color: #4caf93;
}

.project-list-link:hover .name {
  color: white;
}

.project-list-link:hover .project-key {
  display: none;
}

.project-list-link:hover .project-option {
  display: block;
  display: flex;
}

.project-key {
  color: #777;
}

.name {
  margin-bottom: 4px;
}

.project-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.project-issue-link {
  color: white;
  /* font-family: "Open Sans", Meiryo, "メイリオ", Arial, sans-serif; */
  text-decoration: none;
}

.project-option {
  display: none;
}

.issue {
  padding-right: 5px;
  padding-left: 5px;
  border-right: solid 2px #ddd;
}

.issue1 {
  padding-right: 5px;
  padding-left: 5px;
}

.issue:hover .project-issue-link {
  background-color: #00836b;
  color: white;
}

.issue1:hover .project-issue-link {
  background-color: #00836b;
  color: white;
}

.issue:hover {
  background-color: #00836b;
}

.issue1:hover {
  background-color: #00836b;
}

.project-list {
  border: 1px solid black;
  margin-bottom: 20px;
}
.my-issues {
  border: 1px solid black;
}