ol,
ul {
  list-style: none;
}

img {
  border: none;
  vertical-align: top;
}

button {
  background-color: #3a95ea;
  border: 1px solid #2d87da;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 8px 15px;
}

#layout {
  margin: auto;
}